.modal,
.stats {
  display: none;
  background-color: var(--white);
  position: absolute;
  width: 90%;
  top: 2em;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 999;
  border-radius: var(--radius-15);
  padding: 1em 1.5em;
}
.stats h2,
.modal h2 {
  position: relative;
  padding-bottom: 0.25em;
}
.modal-buttons {
  position: absolute;
  top: 0.25em;
  right: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
table,
.modal ol {
  padding: 0;
  padding-left: 1em;
}
.modal li {
  padding-bottom: 1em;
  font-size: var(--top-bar-font-size);
  color: var(--text-color-light);
}

#resetButton {
  background-color: transparent;
  border: 3px solid transparent;
  border-radius: var(--radius-15);
  padding: 0.2em 0.5em;
  margin: 0.5rem 0.9rem;
}
#resetButton:hover {
  color: var(--white);
  background-color: var(--text-color);
  transition: 0.2s;
}
#cache {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--modal-overlay);
  opacity: 0.5;
  display: none;
  z-index: 4;
  transition: 0.2s;
}
table {
  width: 100%;
  font-size: var(--top-bar-font-size);
  color: var(--text-color-light);
}
table td:nth-child(2) {
  text-align: end;
}
@media screen and (min-width: 901px) {
  /*landscape tabs, mini laptops */
  .modal,
  .stats {
    max-width: 500px;
    padding: 1% 2.5%;
  }
}
