.modal,
.stats {
  display: none;
  background-color: var(--white);
  position: absolute;
  width: 90%;
  top: 2em;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 999;
  border-radius: var(--radius-15);
  padding: 1em 1.5em;
  padding-top: 0;
}
.stats h2,
.modal h2 {
  position: relative;
  padding-bottom: 0.25em;
  padding-top: .5em;
}
.modal {
  max-height: 90vh;
  overflow: auto;
}
.modal h2 {
  position: sticky;
  top: 0;
  background-color: var(--white);
}
.modal-buttons {
  position: absolute;
  top: .75em;
  right: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.modal ol {
  padding: 0;
  padding-left: 1.25em;
}

.modal ol li {
  padding-bottom: 1em;
  font-size: var(--top-bar-font-size);
  color: var(--text-color-light);
}
.modal ol li ul {
  padding: 0;
  padding-left: 0.5em;
}
.modal ol li ul li {
  padding: 0;
  padding-bottom: 0.2em;
  font-size: var(--score-panel);
}

#resetButton {
  background-color: transparent;
  border: 2px solid black;
  border-radius: 8px;
  padding: 0.1em 0.5em;
  cursor: pointer;
  font-size: .85em;
}
#resetButton:hover {
  color: var(--white);
  background-color: rgb(213, 0, 0);
  border: 2px solid rgb(183, 0, 0);
  transition: 0.1s;
}
#cache {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--modal-overlay);
  opacity: 0.5;
  display: none;
  z-index: 4;
  transition: 0.2s;
}
table {
  width: 100%;
  font-size: var(--top-bar-font-size);
  color: var(--text-color-light);
  font-size: var(--score-panel);
}
table tr {
  display: flex;
  flex-direction: column;
}
table td:nth-child(1) {
  border-bottom: 1px solid var(--text-color);
}

table td:nth-child(2) {
  text-align: end;
  color: var(--text-color);
  padding: 0.5em 0em 0.6em 0em;
}