.panel {
  min-width: 250px;
  width: 100%;
  background-color: var(--bg-color-ground);
  padding: 2% 5% 3% 5%;
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  gap: 1vh;
}
.panel h2 {
  color: var(--white);
}
.evolution figure {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 5%;
  align-items: center;
  width: 100%;
  color: var(--text-color);
  z-index: 2;
  position: absolute;
}
.evolution figure h3 {
  padding-bottom: 0;
  font-size: var(--panel-h-font-size);
}
.evolution figcaption {
  font-size: var(--big-font-light);
}
.token-score {
  display: flex;
  flex-direction: row nowrap;
  align-items: center;

  font-size: var(--score-panel);
}
.token-score p {
  padding-left: 0.3em;
}
.token-score img {
  height: 0.87em;
}
.evolution {
  display: flex;
  background-color: var(--white-60);
  min-height: 65px;
  border-radius: var(--radius-15);
  border: 3px solid var(--bg-color-ground);
  position: relative;
  overflow: hidden;
}
.tampon {
  background-color: var(--white);
  position: absolute;
  width: 100%; /*modif ici  JS pour booster */
  top: 0;
  left: 0;
  min-height: 60px;
}
.booster {
  width: 0%;
}
