.panel {
  min-width: 250px;
  grid-area: panel;
  background-color: var(--bg-color-ground);
  bottom: 0;
  left: 0;
  padding: 2% 5% 3% 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.panel h2 {
  color: var(--white);
}
.evolution figure {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 5%;

  align-items: center;
  width: 100%;
  color: var(--text-color);
  z-index: 2;
  position: absolute;
}
.evolution figure h3 {
  padding-bottom: 0;
  font-size: var(--panel-h-font-size);
}
.evolution figcaption {
  font-size: var(--big-font-light);
}
.token-score {
  display: flex;
  flex-direction: row nowrap;
  align-items: center;
}
.token-score p {
  padding-left: 0.3rem;
}
.token-score img {
  height: 0.87rem;
}
.evolution {
  display: flex;
  background-color: var(--white-60);
  height: 8vh;
  border: 3px solid var(--pink);
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.tampon {
  background-color: var(--white);
  position: absolute;
  width: 50%; /*modif ici  JS */
  top: 0;
  left: 0;
  height: 8vh;
}
