/* FOOTER */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* SEPARATOR */
.separator {
  height: 15px;
  background-image: url("../images/ground-separator.svg");
}

/* PANEL */
.panel {
  min-width: 250px;
  width: 100%;
  background-color: var(--bg-color-ground);
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.panel h2 {
  color: var(--white);
}

/* BUTTON */
.evolution {
  display: flex;
  background-color: var(--white-60);
  min-height: 65px;
  border-radius: var(--radius-15);
  border: 3px solid var(--bg-color-ground);
  position: relative;
  overflow: hidden;
}
.evolution figure {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5em 0.85em;
  align-items: center;
  width: 100%;
  color: var(--text-color);
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
}
.evolution figure h3 {
  line-height: var(--panel-h-font-size);
  padding-bottom: 0;
  padding-top: 0.2em;
  font-size: var(--panel-h-font-size);
}
.evolution figcaption {
  font-size: var(--big-font-light);
}

/* PRICE */
.token-score {
  display: flex;
  flex-direction: row nowrap;
  align-items: center;

  font-size: var(--score-panel);
}
.token-score p {
  padding-left: 0.3em;
}
.token-score img {
  height: 0.87em;
}

/* TAMPON */
.tampon {
  background-color: var(--white);
  position: absolute;
  top: 0;
  left: 0;
  min-height: 60px;
}

@keyframes tocent {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.to-cent {
  animation-name: tocent;
  animation-duration: 30s;
}

@keyframes clignot {
  from {
    border: 3px solid var(--pink);
  }
  to {
    border: 3px solid var(--bg-color-ground);
  }
}
.to-cligno {
  animation: 1s ease-in-out infinite reverse both running clignot;
  animation-delay: 20s;
}
