:root {
  --bg-gradient: linear-gradient(180deg, #f7fbc8 0%, #f3f0dc 100%);
  --bg-color-ground: #4d3717;
  --text-color: #2d1d07;
  --text-color-light: #81776a;
  --text-color-info: #7e7c61;
  --modal-overlay: #000000b3;
  --white: #ffffff;
  --white-60: #ffffff99;
  --yellow: #d29626;
  --pink: pink;
  --top-bar-font-size: 0.7rem;
  --panel-h-font-size: 1rem;
  --big-font: 5vh;
  --big-font-light: 4vh;
}
