@import "./assets/css/reset.css";
@import "./assets/css/variables.css";
@import "./assets/css/plant.css";
@import "./assets/css/topbar.css";
@import "./assets/css/score.css";
@import "./assets/css/panel.css";
@import "./assets/css/modal.css";
@import "./assets/css/helpers.css";
@import "./assets/css/clicks.css";

@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/Nunito-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

:root {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  font-size: 20px;
}

body {
  background: var(--bg-gradient);
  overflow: hidden;
}

/* tools */
@media screen and (min-width: 601px) and (max-width: 900px) {
  /*phones */
}
@media screen and (min-width: 901px) and (max-width: 1199px) {
  /*landscape tabs, mini laptops */
}

@media screen and (min-width: 1200px) and (max-width: 1799px) {
  /* laptops ddesktops */
}

@media screen and (min-width: 1800px) {
  /*XL*/
}
